<div class="container">
  <mat-card class="container-center">
    <mat-card-title class="mat-card-title mat-card-title-centered">
      <mat-grid-list cols="12" rowHeight="150">
        <mat-grid-tile colspan="4">
          <img src="../../assets/logo_login.png" style="max-width: 100px" />
        </mat-grid-tile>
        <mat-grid-tile colspan="8">
          Bem-vindo ao Meu Livro de Receitas
          <br />
          Compartilhe e Descubra Receitas Deliciosas!
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <mat-icon matPrefix>person</mat-icon>

          <input
            matInput
            placeholder="Digite seu nome"
            formControlName="nome"
          />

          <mat-error formFieldValidation></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <mat-icon matPrefix>mail</mat-icon>

          <input
            matInput
            placeholder="Digite seu e-mail"
            formControlName="email"
          />

          <mat-error formFieldValidation></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock</mat-icon>

          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Digite sua senha"
            formControlName="password"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>

          <mat-error
            formFieldValidation
            matTooltip="{{ form.controls['password'].errors?.['pattern'] ? 'A senha deve conter pelo menos uma letra maiúscula, um número e um símbolo especial' : '' }}"
            matTooltipPosition="left"
          ></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock</mat-icon>

          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Confirme sua senha"
            formControlName="confirmPassword"
          />

          <mat-error formFieldValidation></mat-error>
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button routerLink="/login">Voltar</button>
      <button mat-flat-button color="primary" (click)="register()">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
