<div class="container">
  <mat-card class="container-center">

    <mat-card-title class="mat-card-title mat-card-title-centered">
      <img src="../../assets/logo_login.png" style="max-width: 50px;">
      Bem-vindo ao Meu Livro de Receitas - Compartilhe e Descubra Receitas Deliciosas!
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="form">

        <mat-form-field appearance="outline" class="form-field-spacing">

          <mat-label><mat-icon>person</mat-icon>Nome</mat-label>
          <input matInput placeholder="Digite seu nome" formControlName="nome">

          <mat-error>
            <span *ngIf="form.controls['nome'].errors?.['required']">
              Este campo é obrigatório
            </span>
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-spacing">

          <mat-label><mat-icon>person</mat-icon>Email</mat-label>
          <input matInput placeholder="Digite seu email" formControlName="email">

          <mat-error>
            <span *ngIf="form.controls['email'].errors?.['required']">
              Este campo é obrigatório
            </span>

            <span *ngIf="form.controls['email'].errors?.['maxLength']">
              O e-mail tem um tamanho máximo de 254 caracteres.
            </span>

            <span *ngIf="form.controls['email'].errors?.['email']">
              Email inválido.
            </span>
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-spacing">

          <mat-label><mat-icon>lock</mat-icon>Senha</mat-label>

          <input matInput type="password"
            placeholder="Digite sua senha" formControlName="password"
            matTooltip="{{ form.controls['password'].errors?.['pattern'] ? 'A senha deve conter pelo menos uma letra maiúscula, uma letra minúscula, um símbolo especial (como @ ou $), e pelo menos um dígito. Certifique-se de que sua senha atenda a todos esses requisitos para continuar.' : '' }}"
            matTooltipPosition="right">

          <mat-error>
            <span *ngIf="form.controls['password'].errors?.['required']">
              Este campo é obrigatório
            </span>

            <span *ngIf="form.controls['password'].errors?.['minLength']">
              Senha deve conter no mínimo 8 dígitos.
            </span>
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-spacing">
          <mat-label><mat-icon>lock</mat-icon>Confirme sua senha</mat-label>
          <input matInput type="password" placeholder="Confirme sua senha" formControlName="confirmPassword">

          <mat-error>
            <span *ngIf="form.controls['password'].errors?.['required']">
              Este campo é obrigatório
            </span>

            <span *ngIf="form.controls['confirmPassword'].errors?.['sameValue']">
              O valor digitado não é igual a senha
            </span>
          </mat-error>
        </mat-form-field>

      </form>
    </mat-card-content>

    <mat-card-actions class="button-group">

      <button mat-raised-button style="color: #FFFF; background-color: #4CAF50;" [disabled]="form.invalid"
        [ngClass]="{'mat-button-disabled': form.invalid}" (click)="register()">
        Registrar
      </button>

      <button mat-flat-button color="warn" routerLink="/login">
        Entrar
      </button>

    </mat-card-actions>

  </mat-card>
</div>
