* {
  margin: 0;
  padding: 0;
}

mat-form-field {
  display: block;
}

mat-error {
  display: block;
  margin-top: 0.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-center {
  justify-content: center;
  width: 700px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group>button {
  margin: 5px;
}

.form-field-spacing {
  margin: 10px;
}

.forgot-password-link {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.forgot-password-link>a {
  text-decoration: none;
}

.mat-card-title-centered {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mat-tooltip-panel {
  text-align: justify;
}
